.Header {
    background: #e4ebff;
    margin-bottom: 20px;
    padding: 5px 8px 8px 8px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
}

.Logo {
    text-decoration: none;
    color: var(--text);
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
}

.RightContainer {
    display: flex;
    align-items: center;
}

.Avatar {
    width: 35px;
    height: 35px;
    border-radius: 25px;
    margin-left: 5px;
}

.Name {
    font-size: 15px;
}
