.composer {
    background: #eeeeee;
    padding: 10px 5px;
}

.postArea {
    width: 100%;
    box-sizing: border-box;
    resize: vertical;
    min-height: 40px;
    padding: 5px;
}

.bottomContainer {
    display: flex;
    justify-content: flex-end;
}

.submit {
}
