.newPost {
    width: 100%;
    box-sizing: border-box;
    font-family: var(--font-family);
    font-size: var(--font-size);
    resize: none;
    padding: 4px;
}

.newPostContainer {
    margin: 8px 0;
}