.linkHref {
    text-decoration: none;
}

.link {
    cursor: pointer;
    width: 100%;
    border: 1px solid #eee;
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    margin: 10px 0;
}

.picture {
    border-radius: 6px 0 0 6px;
    display: block;
    width: 100px;
}

.title {
    font-size: 14px;
    max-width: 890px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 3px 5px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.description {
    font-size: 14px;
    max-width: 890px;
    margin: 3px 5px;
    text-decoration: none;
    color: #000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.domain {
    font-size: 14px;
    margin: 3px 5px;
    color: #aaa;
    text-decoration: none;
}