.post {
    margin: 15px 0;
}

.date {
    display: inline-block;
    color: #999999;
    margin-right: 5px;
}

.name {
    display: inline-block;
    color: #999999;
    margin-right: 5px;
}

.deleteLink {
    display: inline-block;
    font-size: 12px;
}
