.text {
    box-sizing: border-box;
    resize: vertical;
    min-height: 50px;
    width: 100%;
    display: block;
    font-family: var(--font-family);
}

.submit {
    margin-bottom: 20px;
}

.photoAttachContainer {
    position: relative;
    max-width: 500px;
}

.photoAttach {
    border-radius: 4px;
    max-width: 500px;
}

.photoAttachClose {
    background: white;
    position: absolute;
    width: 20px;
    height: 20px;
    right: 10px;
    top: 10px;
    opacity: 0.6;
    cursor: pointer;
}

.photoAttachClose:hover {
    opacity: 1.0;
}