.userAvatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.rightBlock {
    margin-left: 10px;
    align-self: center;
}

.userName {
    font-size: 25px;
    font-weight: bold;
}

.userBio {
    color: #666666;
    margin-top: 5px;
}

.userCounters {
    color: #666666;
    font-size: 14px;
    margin-top: 5px;
}

.userCounter {
    display: inline-block;
    margin-right: 5px;
}

.topBlock {
    padding: 10px;
    border-radius: 5px;
    background: #f9f9f9;
    display: flex;
}