.page {
  min-height: 100vh;
  background-color: #fafafa;
}

@media (prefers-color-scheme: dark) {
  .page {
    background-color: #000000;
  }
}

.main {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem 1rem;
}
