.Post {
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    background-color: #FFFFFF;
}

.Header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.AuthorAvatar {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-right: 5px;
}

.Author {
    font-weight: 600;
    font-size: 15px;
}

.Date {
    display: block;
    color: #777;
    font-size: 14px;
}

.Text {
    margin: 10px 0;
}

.Image {
    max-width: 100%;
}

.LikeContainer {
    padding: 2px 0;
    cursor: pointer;
    display: inline-block;
}

.Like {
    vertical-align: middle;
    width: 20px;
    height: 20px;
}

.LikeCounter {
    margin-left: 5px;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
}
