name: web-linter
on: [push]
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24.2'

      - name: gofmt
        run: test -z "$(gofmt -l . | tee /dev/stderr)"

      - name: linter install
        run: curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s v2.8.0

      - name: check linter version
        run: |
          bin/golangci-lint --version

      - name: linter run api
        run: |
          bin/golangci-lint --version
          cd api && ../bin/golangci-lint run ./...

      - name: linter run auth-service
        run: |
          cd auth-service && ../bin/golangci-lint run ./...

      - name: linter run likes-service
        run: |
          cd likes-service && ../bin/golangci-lint run ./...

      - name: linter run photos
        run: |
          cd photos && ../bin/golangci-lint run ./...

      - name: linter run posts-service
        run: |
          cd posts-service && ../bin/golangci-lint run ./...

      - name: linter run subscriptions-service
        run: |
          cd subscriptions-service && ../bin/golangci-lint run ./...

      - name: linter run users-service
        run: |
          cd users-service && ../bin/golangci-lint run ./...
