name: web-linter
on: [push]
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24.2'

      - name: gofmt
        run: test -z "$(gofmt -l . | tee /dev/stderr)"

      - name: linter install
        run: curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s v2.8.0

      - name: linter run web
        run: bin/golangci-lint --version && bin/golangci-lint run
